{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
  </head>

  <body>
    <div class="container">
      <div class="center">
        <h1>CREATE ACCOUNT</h1>
        <form action="/register" method="POST">
          {% csrf_token %}
          <div class="txt_field">
            <input type="text" name="fname" required />
            <span></span>
            <label for="">First Name</label>
          </div>

          <div class="txt_field">
            <input type="text" name="lname" required />
            <span></span>
            <label for="">Last Name</label>
          </div>

          <div class="txt_field">
            <input type="password" name="p" required />
            <span></span>
            <label for="">Password</label>
          </div>

          <div class="txt_field">
            <input type="password" name="cp" required />
            <span></span>
            <label for="">Confirm Password</label>
          </div>

          

          {% comment %} <div class="txt_field">
            <input type="text" name="phoneno" required />
            <span></span>
            <label for="">Phone number</label>
          </div> {% endcomment %}

          {% comment %} <div class="txt_field">
            <input type="text" name="address" required />
            <span></span>
            <label for="">Address</label>
          </div> {% endcomment %}

          {% comment %} <div class="txt_field">
            <input type="text" name="email" required />
            <span></span>
            <label for="">Email</label>
          </div> {% endcomment %}

          {% comment %} <div class="txt_field">
            <labell for="photo">Upload your photo</labell>
            <input type="file" name="photo" required />
          </div> {% endcomment %}

          {% comment %} <div class="txt_field">
            <input type="text" name="adharnumber" required />
            <span></span>
            <label for="">Addhar card number</label>
          </div> {% endcomment %}

          {% comment %} <div class="txt_field">
            <labell for="photo">Upload Photo of Identity Card</labell>
            <input type="file" name="photo" required />
          </div> {% endcomment %}


          <input type="submit" value="Register" name="" id="submit">

        </form>
      </div>
    </div>

  </body>
</html>
