@property --radius{
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
  }
  
  img {
    --size: 200px;
    --f: 5;
    --radius: calc(var(--size)/var(--f));
    
    width: var(--size);
    height: auto;
    aspect-ratio: 1.155;
    object-fit: cover;
    --cg: #0000,#000 1deg 119deg,#0000 120deg;
    --rad: radial-gradient(farthest-side,#000 99%, #0000 101%);
    --s: calc(2*var(--radius))  calc(2*var(--radius));
    -webkit-mask:
      var(--rad) left  calc(0.25*var(--size) - 0.4*var(--radius)) top 0    / var(--s),
      var(--rad) right calc(0.25*var(--size) - 0.4*var(--radius)) top 0    / var(--s),
      var(--rad) left  calc(0.25*var(--size) - 0.4*var(--radius)) bottom 0 / var(--s),
      var(--rad) right calc(0.25*var(--size) - 0.4*var(--radius)) bottom 0 / var(--s),
      var(--rad) left  calc(0.15*var(--radius))                   top 50%  / var(--s),
      var(--rad) right calc(0.15*var(--radius))                   top 50%  / var(--s),
      
      conic-gradient(from   30deg at left  calc(-0.3*var(--radius)) top 50%, var(--cg)) 
        left  calc(0.3*var(--radius)) top 50% /50% calc(100% - 0.8*var(--radius)),    
      conic-gradient(from -150deg at right calc(-0.3*var(--radius)) top 50%, var(--cg)) 
        right calc(0.3*var(--radius)) top 50% /50% calc(100% - 0.8*var(--radius)),
      
      linear-gradient(#000 0 0) center/calc(45% - 1.1*var(--radius));
    -webkit-mask-repeat:no-repeat;
    cursor: pointer;
    transition:--radius 0.3s linear;
  }
  img:hover {
    --radius: calc(var(--size)/2.5);
  }
  
  img.alt:hover {
    --radius: 0px;
  }
  
  .about {
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    display: grid;
    height: 50vh;
    place-content: center;
    gap: 15px;
    padding-right: 80%;
  }
  .about2 {
    background-image: linear-gradient(to right, #00b09b, #96c93d);
    display: grid;
    height: 50vh;
    place-content: center;
    gap: 15px;
    padding-left: 80%;
  }
 